<html>

<head>
      <link href="https://fonts.googleapis.com/css?family=Aldrich" rel="stylesheet" type="text/css">
      <link href="/public/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div id="background"></div>
    <div id="hero"></div>
    <div id="laser"></div>
    <div id="score">000</div>
    <div class="lives" id="lives1"></div>
    <div class="lives" id="lives2"></div>
    <div class="lives" id="lives3"></div>
    <div id="endGame">Game Over</div>
    <div id="restartBtn" class="button">Restart</div>
    <div id="form">
        <form id="myForm" name="myForm">
            Player name:<br>
            <input type="text" id="input" name="name" value="Enter initials" onfocus="this.value=''"><br>
            <div id="playerEnterBtn" class="button">Enter</div>
        </form>
    </div>
  <div id="highscores">
    <div id ="highscoreHeader">High Scores</div>
    <div id="scores"></div>
  </div>
   <script src="https://mattfraserlong.glitch.me/public/app.js"></script>
</body>
</html>
